html {
  height: 100%;
}

body {
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

  @media only screen and (min-width: 375px) {.video-background  {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
      position: fixed;

      
  }}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 425px) {.video-background  {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
      position: fixed;

  }}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {.video-background  {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
  }}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {.video-background  {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
  }}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1440px) {.video-background  {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
  }}
  .scroll-container {
    overflow: hidden;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .step > div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px #000;
    height: 100vh;
    width: 100%;
    color: #fff;
    opacity: 1;
  }